<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>

<h1>Login</h1>

<p th:if="${param.error}"
   style="color:red;">
    Usuario o contraseña incorrectos
</p>

<form action="/login" method="post">

    <input type="text"
           name="correoElectronico"
           placeholder="Correo">

    <input type="password"
           name="contrasena"
           placeholder="Contraseña">

    <button type="submit">
        Ingresar
    </button>

</form>

</body>
</html>
